<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="error-background">
    <div class="error-background-container">
        <img class="error-background"
             src="https://lh3.googleusercontent.com/pw/ACtC-3fqH1fnDJOoO0r5QeG0tvzUkArmF8BisSSytEW3Lgw_tg5ciUuqq2iM1C-CpWtBgbG5hReGWm3NWtqEglhfGrHS0LWpFsEFbPQ9OObkaCqYobmPrdkBxw5seCK18N9PLuEIad9XaJ25bdRMqTZmNvZn=w1300-h863-no?authuser=0"
             alt="female-doctor-nurse-don-t-know-what-to-do-17081435">
        <div class="error-background-overlay"></div>
    </div>
</th:block>
</html>