<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
    <div class="foot bg-primary">
        <div class="foot-body container">
            <div class="row">
                <div class="copyright">
                    <p>Copyright © 2001 - 2020 Больница №0™<br>
                        Все права защищены.<br>
                    </p>
                    <p>Все используемые товарные знаки являются собственностью их владельцев.</p>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>