<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<th:block th:fragment="navBar">
    <div class="background"></div>
    <nav class="navbar navbar-expand-lg navbar-dark">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">На главную
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctors">Врачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/status">Очередь пациентов на запись</a>
                </li>
            </ul>
        </div>

        <div class="profile-menu dropdown">
            <div class="nav-link dropdown-toggle" role="button" id="menu" data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"> Меню </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu">
                <a class="dropdown-item" href="/myaccount">Моя страница</a>
                <hr class="dropdown-divider">

                <!--                 todo if user - doctor или admin-->
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_DOCTOR') or hasRole('ROLE_ADMIN')"
                   href="/patient/status/receptionPending">Кабинет осмотра</a>
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_DOCTOR') or hasRole('ROLE_ADMIN')"
                   href="/patient/appointment">Операционная</a>
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_DOCTOR') or hasRole('ROLE_ADMIN')"
                   href="/user/discharges">Список на выписку</a>
                <!--                //-->

                <hr class="dropdown-divider">
                <!--                todo if user - admin-->
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" href="/doctor/create">Регистрация
                    доктора</a>
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" href="/credanchials">Редактировать
                    пользователей</a>

                <a class="dropdown-item" sec:authorize="hasRole('ROLE_PATIENT')" href="/user/overwrite">Повторная запись
                </a>
                <!--                //-->
            </div>
        </div>
        <div class="auth-buttons">
            <a class="auth-buttons__login btn btn-success" href="/login">Войти</a>
            <a class="auth-buttons__register btn btn-success" href="/patient/register">Регистрация</a>
        </div>

    </nav>
</th:block>
</html>