<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<th:block th:fragment="navBar">
    <div class="background"></div>
    <nav class="navbar navbar-expand-lg navbar-dark">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">На главную
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctors">Врачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patient/status">Очередь пациентов на запись</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_DOCTOR')" href="/patient/status/receptionPending">Кабинет
                        осмотра</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_DOCTOR')"
                       href="/patient/appointment">Операционная
                    </a>
                </li>
            </ul>

            <!--        Кнопка регистрации должна быть одна на при регистрации будет выбор -->
            <div class="action-buttons">
                <div class="register-button">
                    <a class="btn btn-success" href="/patient/register">Регистрация посетителя </a>
                </div>

                <div class="register-button">
                    <a class="btn btn-success" href="/doctor/create">Регистрация доктора </a>
                </div>
                <div class="register-button">
                    <a class="btn btn-success" href="/myaccount">Моя страница </a>
                </div>

                <div class="login-button">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-success" value="Войти"/>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</th:block>
</html>