<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>403</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <th:block th:insert="fragments/error-background.html :: error-background"/>

    <div class="main-container color-inherit white-30 text-center">
        <div class="error-page-container">
            <p class="error-code">403</p>
            <h2 class="error-title">Извините, у вас нет доступа к странице.</h2>
        </div>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>