<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <div class="main-container color-inherit white-30 ">
        <!--        <main class="container">-->
        <!--            <div class="starter-template text py-5 px-3">-->
        <!--                <table class="table">-->
        <!--                    <thead>-->
        <!--                    <tr>-->
        <!--                        <th scope="col">massage</th>-->
        <!--                        <th scope="col">httpStatus</th>-->
        <!--                        <th scope="col">Time</th>-->
        <!--                    </tr>-->
        <!--                    </thead>-->
        <!--                        <td th:text="${apiException.massage}"/>-->
        <!--                        <td th:text="${apiException.httpStatus}"/>-->
        <!--                        <td th:text="${apiException.zonedDateTime}"/>-->
        <!--                </table>-->
        <!--            </div>-->
        <!--        </main>-->
        <p>
        <div class="p-3 mb-2 bg-warning text-dark">Извините, страница не существует </div>
        </p>
    </div>
</body>
</html>
