.main {
    color: white;
    min-height: 700px;
    padding: 20px 0;
}

body {
    color: white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #03899C;
}

.error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-title {
    padding-bottom: 10px;
}

.error-code {
    font-size: 100px;
}

.error-background-container {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.error-background {
    position: relative;
    height: 100%;
    z-index: -1;
}

.error-background-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: #084d01a1;;
}

.photo-edit-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-card-header {
    background: #1C6EA4;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-around;
}

.profile-data {
    flex-grow: 0.5;
    font-size: 1.2rem;
}

.profile-photo {
    border: 1px solid #1C6EA4;
    border-radius: 14px;
    width: 135px;
    height: 135px;
}

.profile-card-data {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.profile-edit-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.profile-card-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    flex-grow: 0.1;
}

.profile-card-icon {
    width: 48px;
    height: 48px;
}

.profile-container {
    padding: 18px 0;
    color: black;
    background: white;
    box-shadow: 9px 10px 9px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 250px;
    border: 4px solid #1C6EA4;
    border-radius: 23px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.profile-data-row {
    display: flex;
}

.profile-data-title {
    min-width: 100px;
}

.btn {
    margin: 0 5px 0 5px;
}

.best-staff-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.best-staff-title {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

.best-staff-title:hover {
    color: #03899C;
}

.best-stuff {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.stuff-photo {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.btn-outline-success {
    color: #619A00;
    border-color: #619A00;
}

.btn-outline-success:hover {
    color: white;
    background-color: #619A00;
}

.error-text {
    margin-bottom: 1rem;
    color: coral;
}

.btn-success {
    color: white;
    background-color: #619A00;
    border-color: #619A00;
}

.btn-success:hover {
    background-color: #619A00;
    border-color: #95EC00;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 20px;
}

.register-form {
    width: 500px;
    padding: 40px;
}

.login-form {
    width: 500px;
    padding: 40px;
}

.main-container {
    color: white;
    min-height: 1000px;
    background: transparent;
}

.background {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -4;
    pointer-events: none;
    background-image: url(https://www.pastinfo.am/news_images/323/968506_2/f5e7cba130d959_5e7cba130d99d.jpg);
    background-blend-mode: multiply;
    background-color: #102e0deb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.table {
    color: white;
}

.hospital-video {
    width: 100%;
}

.main-video-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

.main-video-container-overlay {
    background-color: #0c1a00d4;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.main-video {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    color: white;
    background-color: #03899C;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.register-button {
    margin-right: 10px;
}

.foot {
    display: flex;
    color: white;
    background-color: #03899C;
}

.foot-body {
    margin-top: 10px;
}

.ru-eng{
    color: white;
}