<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<body>
    <body>
        <th:block th:insert="fragments/navBar.html :: navBar"/>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Логин</th>
                <th scope="col">Пароль</th>
                <th scope="col">Изменить</th>
            </tr>
            </thead>

            <tr th:each="userEdit : ${userEditList}">
                <form method="POST" enctype="multipart/form-data" th:action="@{/user/{uid}/edit/ (uid=${userEdit.id})}">
                <td th:text="${userEdit.id}"/>
                <td th:text="${userEdit.firstName}"/>
                <td th:text="${userEdit.lastName}"/>
                <td th:text="${userEdit.email}"/>
                <td th:text="${userEdit.password}"/>
                    <td>
                        <input class="btn btn-outline-success btn-sm" type="submit" value="Изменить"/>
                    </td>
                </form>
            </tr>
        </table>
        <th:block th:insert="fragments/scripts.html :: js"/>
    </body>
</body>
</html>