<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{label.credential.user}">Данные пользователей</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <div class="main container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{label.credential.number}">Номер</th>
                <th scope="col" th:text="#{label.my.view.fname}">Имя</th>
                <th scope="col" th:text="#{label.my.view.lname}">Фамилия</th>
                <th scope="col" th:text="#{label.my.view.email}">Email</th>
                <th scope="col" th:text="#{label.login.password}">Пароль</th>
                <th scope="col" th:text="#{label.my.view.edit}">Изменить</th>
            </tr>
            </thead>

            <tr th:each="userEdit : ${userEditList}">
                <form method="POST" enctype="multipart/form-data"
                      th:action="@{/users/{uid}/edit/ (uid=${userEdit.id})}">
                    <td th:text="${userEdit.id}"/>
                    <td th:text="${userEdit.firstName}"/>
                    <td th:text="${userEdit.lastName}"/>
                    <td th:text="${userEdit.email}"/>
                    <td th:text="${userEdit.password}"/>
                    <td>
                        <input class="btn btn-outline-success btn-sm" type="submit" th:value="#{label.my.view.edit}"/>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>