<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <link href="https://bootswatch.com/4/spacelab/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <body>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">login</th>
                <th scope="col">password</th>
            </tr>
            </thead>

            <tr th:each="credential : ${credentials}">
                <td th:text="${credential.id}"/>
                <td th:text="${credential.firstName}"/>
                <td th:text="${credential.lastName}"/>
                <td th:text="${credential.login}"/>
                <td th:text="${credential.password}"/>
            </tr>
        </table>
    </body>
</body>
</html>