<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<title>Список пациентов на выписку</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main container doctor-list">
        <div class="container" >
            <div class="starter-template text py-5 px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Фото</th>
                        <th scope="col">id</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Позиция</th>
                        <th scope="col">Подготовить выписку</th>
                    </tr>
                    </thead>

                    <tr th:each="user : ${usersList}">
                        <td><img th:src="@{/users/{uid}/img(uid=${user.id})}" width="100"
                                 height="100" alt=""></td>
                        <td th:text="${user.id}"/>
                        <td th:text="${user.firstName}"/>
                        <td th:text="${user.lastName}"/>
                        <td th:text="${user.position}"/>
                        <form method="POST" enctype="multipart/form-data"
                              th:action="@{/patient/{uid}/discharges (uid=${user.id})}">
                            <td>
                                <input class="btn btn-outline-success btn-sm" type="submit" value="Выписать"/>
                            </td>
                        </form>
                    </tr>
                </table>
                <div th:if = "${totalPages > 1}">

                    <div class="row col-sm-10">
                        <div class="col-sm-2">
                        Total Rows: [[${totalItems}]]
                        </div>
                        <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/user/discharges/'+ ${i}}"> [[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/user/discharges/' + ${currentPage + 1}}"> Next </a>
                            <span th:unless="${currentPage < totalPages}">Next</span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/user/discharges/' + ${totalPages}}"> Last </a>
                            <span th:unless="${currentPage < totalPages}">Last</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>