<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<title>Список врачей</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main-container doctor-list">
        <main class="container">
            <div class="starter-template text py-5 px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Направление</th>
                    </tr>
                    </thead>

                    <tr th:each="doctor : ${doctorInfoDtos}">
                        <td th:text="${doctor.firstName}"/>
                        <td th:text="${doctor.lastName}"/>
                        <td th:text="${doctor.name}"/>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>