<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <link href="https://bootswatch.com/4/spacelab/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <nav class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active"><a class="nav-link" aria-current="page" href="/home">Home</a></li>
                    </ul>
                </div>
            </nav>
        </nav>
        </tr>
        <main class="container">
            <div class="starter-template text py-5 px-3">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Направление</th>
                    </tr>
                    </thead>

                    <tr th:each="doctor : ${doctorInfoDtos}">
                        <td th:text="${doctor.firstName}"/>
                        <td th:text="${doctor.lastName}"/>
                        <td th:text="${doctor.name}"/>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</body>
</html>