<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Операционная</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main-container">
        <div class="container">
            <div class="starter-template text py-5 px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID_Назначения</th>
                        <th scope="col">Назначение</th>
                        <th scope="col">тип назанчения</th>
                        <th scope="col">Статус назначения</th>
                        <th scope="col">Выполнить назначение</th>
                    </tr>
                    </thead>
                    <tr th:each="appoitmentColumn : ${appointmentUsers}">
                        <td th:text="${appoitmentColumn.idApointment}"/>
                        <td th:text="${appoitmentColumn.infoAppointment}"/>
                        <td th:text="${appoitmentColumn.type}"/>
                        <td th:text="${appoitmentColumn.status}"/>
                        <form method="Post" enctype="multipart/form-data"
                              th:action="@{/patient/FulfillmentOfAppointments/{uid}/ (uid=${appoitmentColumn.idApointment})}">
                            <td><input type="submit" value="Выполнить"/></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>