<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:insert="fragments/header.html :: css"/>
    <title>Getting Started: Login</title>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div th:if="${param.error}">Неверное имя пользователя и пароль.</div>
    <div th:if="${param.logout}">Вы вышли из системы.</div>

    <form th:action="@{/login}" method="post" class="container center_div" style="width: 400px; padding: 40px">
        <div>
            <label> Логин <input type="text" name="username"/>
            </label>
        </div>
        <div>
            <label> Пароль <input type="password" name="password"/>
            </label>
        </div>
        <div>
            <input type="submit" value="Войти"/>
        </div>
    </form>
    <th:block th:insert="fragments/scripts.html :: js"/>
</body>
</html>