<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<title>Вход</title>
<head>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main-container">
        <div class="login-form-wrap">
            <div class="form-title ">Введите данные</div>
            <form class="container center_div login-form" action="#" th:action="@{/login}" method="post" th:object="${personFormDto}">
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input class="form-control" id="username" type="text" name="username" th:field="*{login}"/>
                    <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">firstName Error</div>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input class="form-control" id="password" type="password" th:field="*{password}" name="password"/>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
                </div>
                <div class="error-text" th:if="${param.error}">Неверное имя пользователя или пароль!</div>
                <div class="error-text" th:if="${param.logout}">Вы вышли из системы.</div>
                <div>
                    <input type="submit" class="btn btn-success" value="Войти"/>
                </div>
            </form>
        </div>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>