<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<title>Добро пожаловать на вашу страницу</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <title>Моя страница</title>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <main>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Роль на сайте</th>
                <th sec:authorize="hasRole('ROLE_PATIENT')" scope="col">повторная запись </th>
                <th scope="col">Upload img</th>
            </tr>
            </thead>

            <tr th:each="vie : ${view}">
                <td><img th:src="@{/users/{uid}/img(uid=${view.id})}" width="100"
                         height="100" alt=""></td>
                <td th:text="${vie.firstName}"/>
                <td th:text="${vie.lastName}"/>
                <td th:text="${email}"/>
                <td th:text="${vie.position}"/>

                <td >  <a class="btn btn-success"  role="button" value="повторная запись" sec:authorize="hasRole('ROLE_PATIENT')" th:href="@{/user/{uid}/overwrite(uid=${view.id})}">
                <td>
                    <form method="POST" enctype="multipart/form-data" th:action="@{/users/{uid}/img(uid=${view.id})}">
                        <table>
                            <tr>
                                <td>File to upload:</td>
                                <td><input type="file" name="file"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Upload"/></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </main>
    <th:block th:insert="fragments/scripts.html :: js"/>
</body>
</html>