<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Добро пожаловать на вашу страницу</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <main class="profile">
        <div class="profile-container">
            <div class="profile-card-header">
                <img class="profile-card-icon" alt="Snake icon" width="30" height="30"
                     src="https://img.icons8.com/ultraviolet/344/rod-of-asclepius.png">
                <div class="profile-card-header-title">Больница №0</div>
            </div>
            <div class="profile-card-data">
                <img th:src="@{/users/{uid}/img(uid=${view.id})}" class="profile-photo" alt="">

                <div class="profile-data" th:object="${view}">
                    <div class="profile-data-row">
                        <div class="profile-data-title">Имя:</div>
                        <div class="profile-data-value" th:text="*{firstName}"></div>
                    </div>
                    <div class="profile-data-row">
                        <div class="profile-data-title">Фамилия:</div>
                        <div class="profile-data-value" th:text="*{lastName}"></div>
                    </div>
                    <div class="profile-data-row">
                        <div class="profile-data-title">Email:</div>
                        <div class="profile-data-value" th:text="*{email}"></div>
                    </div>
                    <div class="profile-edit-button">
                        <form method="POST" enctype="multipart/form-data"
                              th:action="@{/users/{uid}/edit/ (uid=${view.id})}">
                            <input class="btn btn-outline-success btn-sm" type="submit" value="Изменить"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>