<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <link href="https://bootswatch.com/4/spacelab/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <nav class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active"><a class="nav-link" aria-current="page" href="/home">Home</a></li>
                </ul>
            </div>
        </nav>
    </nav>
    <main class="container">
        <div class="starter-template text py-5 px-3">
            <table class="table">

                <thead class="thead-dark">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Осмотр пациента в оччереди</th>
                    <th scope="col">Удалить из очереди</th>
                </tr>
                </thead>

                <tr th:each="patient : ${patientReceptionPending}">
                    <td th:text="${patient.firstName}"/>
                    <td th:text="${patient.lastName}"/>
                    <td th:text="${patient.status}"/>
                    <form method="POST" enctype="multipart/form-data"

                          th:action="@{/patient/roomExamination/{uid}/ (uid=${patient.id})}">
                        <td><input style="background-color: chartreuse" type="submit" value="Осмотреть"/></td>
                    </form>

                    <form method="POST" enctype="multipart/form-data"
                          th:action="@{/patient/status/{uid}/reset (uid=${patient.id})}">
                        <td><input style="background-color: indianred" type="submit"
                                   value="Вернуть в очередь на запись"/></td>
                    </form>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>