<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{label.patient.reception.pending.room}">Кабинет осмотра</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main-container">
        <div class="container">
            <div class="starter-template text py-5 px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{label.photo}">Фото</th>
                        <th scope="col" th:text="#{label.discharges.name}">Имя</th>
                        <th scope="col" th:text="#{label.discharges.lname}">Фамилия</th>
                        <th scope="col" th:text="#{label.patient.reception.pending.status}">Статус</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tr th:each="patient : ${patientReceptionPending}">
                        <td><img th:src="@{/patient/{uid}/img(uid=${patient.id})}" width="100"
                                 height="100" alt=""></td>
                        <td th:text="${patient.firstName}"/>
                        <td th:text="${patient.lastName}"/>
                        <td th:text="${patient.status}"/>
                        <form method="POST" enctype="multipart/form-data"
                              th:action="@{/patient/{uid}/inspection (uid=${patient.id})}">
                            <td>
                                <input class="btn btn-success" type="submit" th:value="#{label.patient.reception.pending.inspect}"/>
                            </td>
                        </form>

                        <form method="POST" enctype="multipart/form-data"
                              th:action="@{/patient/status/{uid}/reset (uid=${patient.id})}">
                            <td><input class="btn btn-danger" type="submit" th:value="#{label.patient.reception.pending.break}"/></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>