<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<title>Список не обследованных пациентов</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main-container">
        <div class="container">
            <div class="py-5 px-3">
                <table class="table">

                    <thead>
                    <tr>
                        <!--                <th scope="col">idPatient</th>-->
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Записать на обследование</th>

                    </tr>
                    </thead>

                    <tr th:each="patient : ${patientsNotExaminded}">
                        <td th:text="${patient.firstName}"/>
                        <td th:text="${patient.lastName}"/>
                        <td th:text="${patient.status}"/>
                        <form method="POST" enctype="multipart/form-data"
                              th:action="@{/patient/{uid}/status (uid=${patient.id})}">
                            <td>
                                <input class="btn btn-outline-success btn-sm" type="submit" value="Записать"/>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>