<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{label.register.patient}">Регистрация пациента</title>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main-container">
        <div class="form-title" th:text="#{label.register.patient.info}">Введите ваши данные</div>
        <form class="container center_div register-form" action="/patient/registers" method="POST"
              th:object="${patientRegisterDto}">
            <div class="form-group">
                <label for="firstNameInput" th:text="#{label.my.view.fname}">Имя:</label>
                <input class="form-control" id="firstNameInput" type="text" placeholder="" name="firstName"
                       th:field="*{firstName}">
            </div>
            <div class="row justify-content-center alert alert-danger" role="alert"
                 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error
            </div>
            <div class="form-group">
                <label for="lastNameInput" th:text="#{label.my.view.lname}">Фамилия:</label>
                <input class="form-control" id="lastNameInput" type="text" placeholder="" name="lastName"
                       th:field="*{lastName}">
            </div>
            <div class="row justify-content-center alert alert-danger" role="alert"
                 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error
            </div>
            <div class="form-group">
                <label for="emailNameInput" th:text="#{label.my.view.email}">Email:</label>
                <input class="form-control" id="emailNameInput" type="text" placeholder="" name="email"
                       th:field="*{email}">
            </div>
            <div class="row justify-content-center alert alert-danger" role="alert"
                 th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error
            </div>
            <div class="form-group">
                <label for="passwordInput" th:text="#{label.login.password}">Пароль:</label>
                <input class="form-control" id="passwordInput" type="text" placeholder="" name="password"
                       th:field="*{password}">
            </div>
            <div class="row justify-content-center alert alert-danger" role="alert"
                 th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error
            </div>

            <input type="submit" class="btn btn-success" th:value="#{label.register.doctor.save}"/>
        </form>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>