<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <main class="container">
        <div class="starter-template text py-5 px-3">
            <table class="table">

                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID_Назначения</th>
                    <th scope="col">Назначение</th>
                    <th scope="col">тип назанчения</th>
                    <th scope="col">Статус назначения</th>
                </tr>
                </thead>

                <tr th:each="appoitmentColumn : ${appointmentUsers}">
                    <td th:text="${appoitmentColumn.idApointment}"/>
                    <td th:text="${appoitmentColumn.infoAppointment}"/>
                    <td th:text="${appoitmentColumn.type}"/>
                    <td th:text="${appoitmentColumn.status}"/>
                </tr>
            </table>
        </div>
    </main>
    <p>
        Добро пожаловать
        <span sec:authentication="principal.username">Udefined</span>
    </p>!
    <th:block th:insert="fragments/scripts.html :: js"/>
</body>
</html>