<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{label.pending.appointments}">Назначения</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <main class="main-container">
        <div class="starter-template text py-5 px-3">
            <table class="table">

                <thead>
                <tr>
                    <th scope="col" th:text="#{label.appointment.list}">Номер назначения</th>
                    <th scope="col" th:text="#{label.appointment}">Назначение</th>
                    <th scope="col" th:text="#{label.appointment.destination.type}">Тип назначения</th>
                    <th scope="col" th:text="#{label.appointment.status}">Статус назначения</th>
                </tr>
                </thead>

                <tr th:each="appoitmentColumn : ${appointmentUsers}">
                    <td th:text="${appoitmentColumn.idApointment}"/>
                    <td th:text="${appoitmentColumn.infoAppointment}"/>
                    <td th:text="${appoitmentColumn.type}"/>
                    <td th:text="${appoitmentColumn.status}"/>
                </tr>
            </table>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>