<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{label.examination.patient}">Осмотр пациента</title>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main container">
        <div class="inspection-patient-info">
            <h2 th:text="#{label.examination.patient}">Осмотр пациента</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{label.discharges.name}">Имя</th>
                    <th scope="col" th:text="#{label.discharges.lname}">Фамилия</th>
                    <th scope="col" th:text="#{label.patient.reception.pending.status}">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="credenchial : ${user}">
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.lastName}"/>
                    <td th:text="${user.status}"/>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-container">
            <form METHOD="post" th:action="@{/patient/examination/{id}/ (id=${idPatient})}">
                <fieldset>
                    <legend th:text="#{label.examination.patient.appointment}">Добавить назначение</legend>
                    <h6 for="diagnosisDtoId" th:text="#{label.light.info}">Информация должна быть длинной от 3х символов</h6>
                    <div class="form-group">
                        <label for="diagnosisDtoId" th:text="#{label.examination.patient.diagnosis}">Диагноз пациента</label>
                        <input type="text" class="form-control" id="diagnosisDtoId" name="diagnosisDto"
                               placeholder="diagnosisDto..">
                    </div>
                    <div class="form-group">
                        <label for="epicrisisId" th:text="#{label.examination.patient.epicrisis}">Запись в выписку</label>
                        <input type="text" class="form-control" id="epicrisisId" name="epicrisis"
                               placeholder="epicrisis..">
                    </div>
                    <div class="form-group">
                        <label for="nameId" th:text="#{label.examination.patient.procedure.flagging}">Пометка к выполняемым процедурам</label>
                        <input type="text" class="form-control" id="nameId" name="nameApointment"
                               placeholder="nameAppoitment..">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" th:text="#{label.appointment.destination.type}">Тип назначения</label>
                        <select class="form-control" id="exampleSelect1" name="name">
                            <option value="PROCEDURE">PROCEDURE</option>
                            <option value="DRUG">DRUG</option>
                            <option value="OPERATION">OPERATION</option>
                        </select>
                    </div>
                    <div class="form-group" th:object="${user}">
                        <label for="idPatient"></label>
                        <input hidden="hidden" type="text" id="idPatient" name="idPatient" th:value="*{id}">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success" th:text="#{label.register.doctor.save}">Сохранить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <th:block th:insert="fragments/footer.html :: footer"/>
</body>
</html>