<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:insert="fragments/header.html :: css"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>
    <h2>Осмотр пациента</h2>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Статус</th>
                <th scope="col">Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="credenchial : ${user}">
                <td th:text="${user.firstName}"/>
                <td th:text="${user.lastName}"/>
                <td th:text="${user.status}"/>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-container">
        <form METHOD="post" action="/patient/examination">
            <fieldset>
                <legend>Add appointment</legend>
                <div class="form-group">
                    <label for="diagnosisDtoId">Диагноз пациента</label>
                    <input type="text" class="form-control" id="diagnosisDtoId" name="diagnosisDto"
                           placeholder="diagnosisDto..">
                </div>
                <div class="form-group">
                    <label for="epicrisisId">Запись в выписку</label>
                    <input type="text" class="form-control" id="epicrisisId" name="epicrisis" placeholder="epicrisis..">
                </div>
                <div class="form-group">
                    <label for="nameId">Пометка к выполняемым процедурам</label>
                    <input type="text" class="form-control" id="nameId" name="nameApointment"
                           placeholder="nameAppoitment..">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Тип назначения</label>
                    <select class="form-control" id="exampleSelect1" name="name">
                        <option value="PROCEDURE">PROCEDURE</option>
                        <option value="DRUG">DRUG</option>
                        <option value="OPERATION">OPERATION</option>
                    </select>
                </div>
                <div class="form-group" th:object="${user}">
                    <label for="idPatient"></label>
                    <input hidden="hidden" type="text" id="idPatient" name="idPatient" th:value="*{id}">
                </div>
                <button type="submit" class="btn btn-success">Add</button>
            </fieldset>
        </form>
    </div>
    <th:block th:insert="fragments/scripts.html :: js"/>
</body>
</html>